@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 232);
}

/* ================= CONTAINER ================= */
#container {
    max-width: 360px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
}

/* ================= RESULTADO ================= */
#resultado {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

/* ================= BONECO ================= */
#boneco img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* ================= PALAVRA ================= */
#palavras {
    margin-top: 20px;
}

.letras {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    letter-spacing: 6px;
}

/* ================= INPUT + BOTÃO ================= */
.opcoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.opcoes input {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
}

.opcoes button {
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    background-color: rgb(25, 188, 243);
    color: white;
    cursor: pointer;
    transition: .3s;
}

.opcoes button:hover {
    background-color: rgb(11, 163, 213);
}

/* ================= DESKTOP ================= */
@media screen and (max-width: 993px){
 body {
        display: flex;
        flex-direction: column;
    }

    #container {
        margin-right: auto;
        margin-left: auto;
    }

    .opcoes {
        flex-direction: row;
        align-items: center;
    }

    .opcoes input {
        width: 150px;
    }
    

}
